* {
	box-sizing: border-box;
	transition: background 0.3s;
	scrollbar-color: var(--background2) var(--background5);
}

body {
	font-size: 100%;
	font-family: system-ui, sans-serif;
	background: var(--background1);
}

html, body, #container {
	height: 100%;
	color: var(--text1);
}

html, body, #container, #library, #reader, #pageContainer {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#container:has(> #reader) {
	position: absolute;
	height: 100%;
	display: flex;
	justify-content: center;
	width: 100%;
}

body {
	overflow-x: hidden;
	position: relative;
	min-height: 100%;
}

.libraryImage {
	width: 10% !important;
	max-width: 100px;
	padding: 0 !important;
}

.libraryImage img {
	width: 65px;
	height: 97px;
	position: relative;
	border-top-left-radius: 5px;
}

.libraryTitle {
	width: calc(30%);
}

.libraryAuthor, .libraryOpened {
	width: 20%;
}

.librarySize, .libraryProgress {
	width: 10%;
}

.libraryItem {
	display: flex;
	transition: 0.3s;
	background: var(--background4);
	width: 100%;
	min-width: 800px;
	margin-top: 5px;
	user-select: none;
	cursor: pointer;
	flex-wrap: wrap;
	position: relative;
	left: 0;
	border-radius: 5px;
}

.libraryItem:not(.libraryHeader):hover {
	background: var(--background5);
	left: 10px;
}

.libraryItem > div {
	display: flex;
	align-items: center;
	padding: 10px;
	flex-shrink: 0;
	position: relative;
}

.libraryItem > div:hover > .librarySortIcon:not(.current) {
	opacity: 0.5 !important;
}

.libraryItem > div > span {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.libraryHeader {
	background: var(--background3);
	font-weight: bold;
}

.libraryProgressBar {
	position: absolute;
	width: 100%;
	height: 5px;
	top: calc(100% - 5px);
	left: 0;
	background: var(--background3);
	flex-basis: 100%;
	padding: 0 !important;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.libraryGridBooksHolder {
	display: flex;
	flex-wrap: wrap;
}

.libraryProgressBarInside {
	height: 100%;
	background: rgb(60, 100, 60);
	transition: 0.3s;
	border-bottom-left-radius: 5px;
}

.libraryItem:hover .libraryProgressBarInside {
	background: rgb(80, 150, 80);
}

.librarySearchInput {
	width: 400px;
	height: 40px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	margin-bottom: 10px;
	outline: none !important;
	font-size: 1em;
	padding-left: 45px;
	background: var(--background3);
	transition: 0.3s;
	color: var(--text1);
}

.librarySearchInput:focus {
	background: var(--background4);
}

.librarySearchInputIcon {
	position: absolute;
	left: 15px;
	top: 10px;
	width: 20px;
	height: 20px;
	user-select: none;
}

.librarySearchInputHolder {
	position: relative;
}

.libraryControlsHolder {
	display: flex;
	justify-content: space-between;
	min-width: 800px;
}

.libraryControlsSection {
	display: flex;
}

.libraryControlsSection button {
	height: 40px;
	margin-left: 10px;
	outline: none !important;
	border: none;
	border-radius: 5px;
	background: var(--background3);
	cursor: pointer;
	color: var(--text2);
	font-size: 0.9em;
	transition: 0.2s;
	user-select: none;
	padding: 0 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.librarySortIcon {
	width: 16px;
	height: 16px;
	margin-left: 5px;
	opacity: 1;
}

.librarySortIcon:not(.current) {
	opacity: 0;
	transition: 0.1s;
}

.libraryGridItem {
	display: inline-block;
	width: 215px;
	height: 390px;
	padding: 10px;
	cursor: pointer;
	background: var(--background4);
	margin: 10px;
	border-radius: 5px;
	position: relative;
	transition: 0.3s;
	user-select: none;
}

.libraryGridImage > img {
	width: 195px;
	border-radius: 5px;
}

.libraryGridItem:hover {
	background: var(--background5);
	transform: scale(1.05);
}

.libraryGridTitle, .libraryGridAuthor, .libraryGridProgress {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
	display: block;
	margin: 5px 0;
	font-size: 0.9em;
}

.libraryGridTitle {
	font-weight: bold;
	font-size: 1em;
}

.icontrue {
	transform: rotate(180deg);
}

.libraryControlsSection button:hover {
	background: var(--background4);
}

.contextMenu {
	position: fixed;
	z-index: 3;
	background: var(--background2);
	border-radius: 5px;
	overflow: hidden;
	padding: 5px 10px;
}

.contextMenuItem {
	padding: 10px;
	cursor: pointer;
	transition: 0.3s;
	user-select: none;
	border-radius: 5px;
	min-width: 100px;
	margin: 5px 0;
}

.contextMenuTitle {
	padding: 10px;
	font-weight: bold;
	user-select: none;
	max-width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.contextMenuDelete {
	background: rgb(100, 50, 50);
}

.contextMenuItem:hover {
	background: var(--background3);
}

.contextMenuDelete:hover {
	background: rgb(150, 50, 50);
}

.mainHolder {
	display: flex;
	height: 100%;
	padding: 15px;
}

.navigationBar {
	width: 250px;
	background: var(--background2);
	flex-shrink: 0;
	height: 100%;
	padding: 15px;
	border-radius: 5px;
}

.navigationBarItem {
	padding: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	transition: 0.3s;
	border-radius: 5px;
	user-select: none;
}

.navigationBarItem:hover {
	background: var(--background3);
}

.currentNavItem {
	background: var(--background3);
}

.navigationBarTitle {
	font-size: 1.5em;
	font-weight: bold;
	height: 70px;
	display: flex;
	align-items: center;
	margin-left: 5px;
	user-select: none;
}

.navigationBarTitle img {
	width: 64px;
}

.navigationBarTitle span {
	margin-left: 10px;
	color: #e8f;
}

.container {
	margin-left: 15px;
	width: 100%;
	overflow: auto;
	background: var(--background2);
	border-radius: 5px;
	padding: 15px 20px;
}

.container * {
	font-family: system-ui, sans-serif;
}

.sectionHeading {
	color: var(--text1);
	margin: 5px 0 15px 0;
	font-size: 1.8em;
	user-select: none;
}

.buttonIconImage {
	width: 20px;
	height: 20px;
}

.buttonIcon {
	padding: 0 !important;
	width: 40px;
}

#pageContainer {
	font-family: 'EB Garamond', serif;
	column-count: 2;
	column-gap: 100px;
	column-fill: auto;
	position: relative;
	top: 0;
	left: 0;
	transition: left 0.3s;
	height: 100%;
}

#pageContainer img, #pageContainer image {
	max-height: calc(100vh - 200px) !important;
	max-width: 100% !important;
}

#reader {
	overflow: hidden;
	color: var(--text1) !important;
}

#reader h1 {
	font-family: Arial, Helvetica, sans-serif;
}

#reader p {
	text-indent: 40px;
	margin: 0;
	text-align: justify;
	text-decoration: none !important;
}

#reader a {
	color: inherit !important;
}

#container::-webkit-scrollbar {
	display: none;
}

#container {
	scrollbar-width: none;
}

#readerOverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	color: var(--text2);
}

#readerOverlayBottom {
	top: calc(100% - 75px);
}

#readerOverlaySmall {
	top: calc(100% - 65px);
}

#readerOverlaySmall div {
	padding: 10px 20px;
	backdrop-filter: blur(2px);
	border-radius: 5px;
}

#readerOverlayTop, #readerOverlayBottom, #readerOverlaySmall {
	position: fixed;
	left: 0;
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
}

#readerOverlayTop, #readerOverlayBottom {
	opacity: 0;
	transition: 0.3s opacity;
	z-index: 1;
	font-size: 1.2em;
	padding: 0 20px;
	margin: 10px 0;
	border-radius: 5px;
	background: var(--background2);
	width: calc(100% - 30px);
}

#readerOverlayTop {
	justify-content: space-between;
	box-sizing: border-box;
}

#readerOverlayTop > * {
	width: 33%;
}

#readerOverlayTopText {
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 0.9em;
}

.overlayButton {
	cursor: pointer;
	font-size: 1em;
	border-radius: 5px;
	width: 36px;
	height: 36px;
	transition: 0.2s;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--background2);
	color: var(--text2);
	border: none;
	outline: none !important;
}

.overlayButton:hover {
	background: var(--background3);
}

.overlayButton img {
	width: 20px;
}

button:hover {
	outline: none !important;
}

.icon {
	font-size: 1.2em;
}

#infoBoxContainer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
	backdrop-filter: blur(2px) brightness(0.7);
}

#infoBox {
	width: 650px;
	border-radius: 5px;
	user-select: none;
	max-height: 75%;
	overflow: auto;
	padding: 10px;
	background: var(--background2);
	border: 1px solid var(--background6);
	color: var(--text2);
}

.infoBoxItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
	padding: 0 10px;
	cursor: pointer;
	border-radius: 5px;
	transition: 0.3s;
}

.infoBoxItem:hover {
	background: var(--background3);
}

.infoBoxItemTitle:not(.small) {
	font-weight: bold;
	font-size: 1.3em;
}

#infoBox img {
	width: 18px;
}

#readerOverlayTopRight {
	display: flex;
	justify-content: flex-end;
}

#overlayProgress {
	width: 800px;
	max-width: 80%;
	height: 6px;
	border-radius: 3px;
	position: relative;
	background: var(--background3);
}

#overlayProgress > div {
	background: var(--text3);
}

#overlayProgress > #progressMarker {
	height: 100%;
	border-radius: 3px;
	transition: 0.3s;
}

#readerLoading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

#loadingAnimation {
	display: inline-block;
	width: 80px;
	height: 80px;
}

#loadingAnimation:after {
	content: " ";
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	animation: loading-animation 1.2s linear infinite;
}

.chapterMarker {
	top: 0;
	position: absolute;
	height: 100%;
	border-right: 1px solid var(--border1);
}

#overlayTooltip {
	position: fixed;
	top: calc(100% - 100px);
	left: 0;
	width: min-content;
	max-width: 300px;
	height: 40px;
	opacity: 0;
	transition: 0.2s;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 3;
	padding: 5px 10px;
	border-radius: 5px;
	text-align: center;
	user-select: none;
	background: var(--background2);
	border: 1px solid var(--background6);
	color: var(--text2);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#cancelDeleteButton {
	margin-right: 10px;
}

#deleteBookButton {
	background: rgb(120, 50, 50) !important;
}

#deleteBookButton:hover {
	background: rgb(145, 50, 50) !important;
}

#deleteText {
	padding: 20px;
}

#deleteButtons {
	display: flex;
	justify-content: flex-end;
}

#deleteButtons > * {
	width: 100px;
	padding: 10px;
	background: none;
	cursor: pointer;
	border-radius: 5px;
	background: var(--background3);
	border: none;
	color: var(--text2);
	transition: 0.2s;
}

#deleteButtons > *:hover {
	background: var(--background4);
}

@keyframes loading-animation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#settingsInfoBox .settingsSectionTitle {
	font-size: 1.2em;
}

.settingsItem {
	padding: 10px;
}

.settingsItem > div {
	display: flex;
	justify-content: space-evenly;
	padding-top: 5px;
}

.settingsItem > div > div {
	padding: 15px 10px;
	cursor: pointer;
	width: 100%;
	text-align: center;
	background: var(--background3);
	border: 1px solid var(--background4);
}

#circleProgressBarContainer {
	width: 150px;
	height: 150px;
}

.gutenbergDownload {
	padding: 7px 15px;
	outline: none !important;
	border: none;
	border-radius: 5px;
	background: rgb(70, 150, 70);
	color: white;
	cursor: pointer;
	transition: 0.2s;
}

.gutenbergDownload:hover {
	background: rgb(60, 140, 60);
}

.gutenbergDownloadHolder {
	justify-content: flex-end;
	padding-right: 30px !important;
}

.settingsSection {
	margin-bottom: 10px;
	min-width: 500px;
	background: var(--background3);
	padding: 10px 15px 1px 15px;
	border-radius: 5px;
}

.settingsSectionTitle {
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 10px;
}

.settingsSectionFlex {
	display: flex;
	flex-wrap: wrap;
}

.settingsTheme, .settingsTextOption {
	width: 200px;
	height: 125px;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	margin: 0 10px 10px 0;
	cursor: pointer;
	border-radius: 5px;
	font-weight: bold;
	font-size: 1.1em;
}

.settingsThemeSmall, .settingsTextOption {
	width: 100px;
	height: 60px;
}

.settingsTextOption {
	background: var(--background4);
	border: 5px solid var(--background6);
	width: 150px;
}

.settingsTextOption img {
	margin-left: 10px;
	width: 15px;
	height: 15px;
}

#settingsTheme-light {
	background: rgb(205, 205, 215);
	border: 5px solid rgb(175, 175, 185);
	color: rgb(15, 15, 15);
}

#settingsTheme-dark {
	background: rgb(10, 10, 15);
	border: 5px solid rgb(30, 30, 35);
	color: rgb(240, 240, 240);
}

#settingsTheme-night {
	background: rgb(30, 30, 40);
	border: 5px solid rgb(50, 50, 60);
	color: rgb(240, 240, 255);
}

#settingsTheme-sepia {
	background: rgb(234, 219, 203);
	border: 5px solid rgb(214, 199, 183);
	color: rgb(107, 50, 30);
}

#settingsTheme-aurora {
	background: linear-gradient(45deg, rgb(51, 17, 68), rgb(60, 17, 60));
	border: 5px solid #504;
	color: rgb(240, 240, 240);
}

.settingsSlider {
	width: 100%;
	max-width: 600px;
	appearance: none;
	-webkit-appearance: none;
	background: transparent;
	cursor: pointer;
	position: relative;
	z-index: 2;
	min-width: 400px;
}

.settingsSlider::-webkit-slider-thumb {
	appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: var(--background6);
	cursor: pointer;
	margin-top: -5px;
}

.settingsSlider::-webkit-slider-runnable-track {
	height: 8px;
	background: var(--background4);
	border-radius: 5px;
}

.sliderTicks {
	display: flex;
	width: 100%;
	max-width: 600px;
	min-width: 400px;
	justify-content: space-between;
	padding: 0 8px 0 12px;
}

.sliderTicks span {
	height: 8px;
	border-right: 1px solid var(--text1);
}

#infoBox .settingsContainer {
	padding: 10px;
}

.aboutContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	min-width: 400px;
	text-align: center;
}

.aboutText {
	margin-bottom: 15px;
	max-width: 600px;
}

.aboutText a {
	color: var(--text1);
}

.aboutTitle {
	color: #e8f;
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 10px;
}

.aboutSubTitle {
	color: rgb(203, 91, 223);
	margin-bottom: 30px;
}

.calendarRow, #calendarTop, #readingGoalButtons {
	display: flex;
}

.calendarElem {
	width: 60px;
	height: 60px;
	margin: 5px;
	border-radius: 5px;
	padding: 10px;
	position: relative;
	user-select: none;
	background: var(--background3);
}

.calendarElem:not(.active) {
	opacity: 0.3;
}

.calendarElem.active, .calendarElem.active .calendarProgressInner {
	background: var(--background3);
}

.calendarElem.current, .calendarElem.current .calendarProgressInner {
	background: var(--background4);
}

.calendarProgressOuter {
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

.calendarProgressInner {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 15px;
	left: 15px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#calendarTop {
	width: 480px;
	margin: 5px;
	user-select: none;
}

#calendarMonthName, #rgbValue {
	flex-grow: 1;
	margin: 0 10px;
}

#calendarRight img {
	transform: rotate(180deg);
}

#calendarTop div, #readingGoalButtons div {
	background: var(--background3);
	padding: 10px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#calendarLeft:hover, #calendarRight:hover, #rgbLeft:hover, #rgbRight:hover {
	background: var(--background4);
}

#calendarLeft, #calendarRight, #rgbLeft, #rgbRight {
	width: 60px;
	cursor: pointer;
}

.calendarProgressTooltip {
	display: none;
	position: absolute;
	width: 190px;
	text-align: center;
	left: 70px;
	top: 0px;
	z-index: 2;
	background: var(--background3);
	border: 2px solid var(--background5);
	padding: 10px 15px;
	border-radius: 5px;
	line-height: 1.6em;
}

.calendarElem:hover .calendarProgressTooltip {
	display: initial;
}

#calendar {
	min-width: 500px;
}

#calendarTotalTime {
	margin: 5px;
}

#calendarTotalTime span {
	font-weight: bold;
}

#readingGoalButtons {
	margin: 5px;
	width: 340px;
	user-select: none;
}