:root {
	--background1: linear-gradient(45deg, #102, #201);
	--background2: linear-gradient(45deg, #203, #302);
	--background3: linear-gradient(45deg, #314, #413);
	--background4: linear-gradient(45deg, #425, #524);
	--background5: linear-gradient(45deg, #536, #305);
	--background6: linear-gradient(45deg, #647, #746);

	--text1: rgb(240, 240, 240);
	--text2: rgb(230, 230, 230);
	--text3: rgb(200, 200, 200);

	--border1: rgb(200, 200, 200);
}

.libraryElemInfo, .libraryElemDelete, .librarySearchInputIcon, .librarySortIcon, .buttonIconImage, #infoBox img, .overlayButton img {
	filter: invert(0.8);
}

#loadingAnimation:after {
	border: 6px solid #fff;
	border-color: #fff transparent #fff transparent;
}