:root {
	--background1: rgb(245, 245, 255);
	--background2: rgb(225, 225, 235);
	--background3: rgb(210, 210, 225);
	--background4: rgb(200, 200, 215);
	--background5: rgb(195, 195, 210);
	--background6: rgb(185, 185, 200);

	--text1: rgb(15, 15, 15);
	--text2: rgb(25, 25, 25);
	--text3: rgb(85, 85, 85);

	--border1: rgb(55, 55, 55);

	--highlight1: rgb(224, 224, 96);
	--highlight2: rgba(224, 224, 96, 0.5);
}

#loadingAnimation:after {
	border: 6px solid black;
	border-color: black transparent black transparent;
}

.navigationBarTitle span, .aboutTitle {
	color: #83a;
}