:root {
	--background1: rgb(10, 10, 15);
	--background2: rgb(20, 20, 25);
	--background3: rgb(30, 30, 35);
	--background4: rgb(40, 40, 45);
	--background5: rgb(50, 50, 55);
	--background6: rgb(60, 60, 65);

	--text1: rgb(240, 240, 240);
	--text2: rgb(230, 230, 230);
	--text3: rgb(200, 200, 200);

	--border1: rgb(200, 200, 200);
}

.libraryElemInfo, .libraryElemDelete, .librarySearchInputIcon, .librarySortIcon, .buttonIconImage, #infoBox img, .overlayButton img {
	filter: invert(0.8);
}

#loadingAnimation:after {
	border: 6px solid #fff;
	border-color: #fff transparent #fff transparent;
}